<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <!--Search: <input ng-model="$ctrl.query">
      Sort by:
      <select ng-model="$ctrl.orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
      -->
      Search: <input [(ngModel)]="query">
      Sort by:
      <select [(ngModel)]="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>


    </div>
    <div class="col-md-10">
      <!--Body content-->

      <ul class="phones">
        <!--<li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy:$ctrl.orderProp"
            class="thumbnail phone-listing">
          <a href="#/phones/{{phone.id}}" class="thumb">
            <img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}">
          </a>
          <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>-->
        <li *ngFor="let phone of phones | async | phoneFilter:query | orderBy:orderProp"
            class="thumbnail phone-listing">
          <a [routerLink]="['/Phone', {phoneId: phone.id}]" class="thumb"><img [src]="phone.imageUrl"></a>
          <a [routerLink]="['/Phone', {phoneId: phone.id}]" class="name">{{phone.name}}</a>
          <p>{{phone.snippet}}</p>
        </li>

      </ul>

    </div>
  </div>
</div>
